@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.btn-orange:hover{

	transition : 1000ms;
	padding: 10px 50px;
	transform : translateY(-0px);
	background: linear-gradient(90deg, #ff5f03 0%, #ff5f03 100%);
	color: #ffffff;
	border: solid 2px #ffffff;
}
.btn-rouge:hover{

	transition : 1000ms;
	padding: 10px 50px;
	transform : translateY(-0px);
	background: linear-gradient(179deg, #ff0320 0%, #ff0320 100%);
	color: #ffffff;
	border: solid 2px #ffffff;
}
.btn-vert:hover{
	transition : 1000ms;
	padding: 10px 50px;
	transform : translateY(-0px);
	background: linear-gradient(179deg, #0b8d03 0%, #0b8d03 100%);
	color: #ffffff;
	border: solid 2px #ffffff;
}
.btn-bleu:hover {
	transition: 1000ms;
	padding: 10px 50px;
	transform: translateY(-0px);
	background: linear-gradient(179deg, #0037ff 0%, #0037ff 100%);
	color: #ffffff;
	border: solid 2px #ffffff;
}
.btn-orange{

	font-family: Roboto, sans-serif;
	font-weight: 100;
	font-size: 14px;
	color: #fcfcfc;
	background: linear-gradient(179deg, #ff5f03 0%, #ff5f03 100%);
	padding: 10px 30px;
	border: solid #ffffff 2px;
	border-radius: 25px;
	transition : 1000ms;
	transform: translateY(0);
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	text-transform: uppercase;
}
.btn-rouge{

	font-family: Roboto, sans-serif;
	font-weight: 100;
	font-size: 14px;
	color: #fcfcfc;
	background: linear-gradient(179deg, #ff0320 0%, #ff0320 100%);
	padding: 10px 44px;
	border: solid #ffffff 2px;
	border-radius: 25px;
	transition : 1000ms;
	transform: translateY(0);
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	text-transform: uppercase;
}
.btn-vert{

	font-family: Roboto, sans-serif;
	font-weight: 100;
	font-size: 14px;
	color: #fcfcfc;
	background: linear-gradient(179deg, #0b8d03 0%, #0b8d03 100%);
	padding: 10px 48px;
	border: solid #ffffff 2px;
	border-radius: 25px;
	transition : 1000ms;
	transform: translateY(0);
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	text-transform: uppercase;
}
.btn-bleu{

	font-family: Roboto, sans-serif;
	font-weight: 100;
	font-size: 14px;
	color: #fcfcfc;
	background: linear-gradient(179deg, #0037ff 0%, #0037ff 100%);
	padding: 10px 48px;
	border: solid #ffffff 2px;
	border-radius: 25px;
	transition : 1000ms;
	transform: translateY(0);
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	text-transform: uppercase;
}
.scrolll{
	overflow-y: scroll;
	scroll-behavior: smooth;
}
