@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

body {
    font-family: Roboto, sans-serif;
    background: url('chemin/vers/votre/image.jpg') center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
	padding: 0%;
}



h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #4c82af;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4574a0;
}

.btn-orange, .btn-rouge, .btn-vert, .btn-bleu {
    font-weight: 100;
    font-size: 14px;
    color: #fcfcfc;
    padding: 10px 48px;
    border: solid #ffffff 2px;
    border-radius: 25px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-orange:hover {
    transition: 1000ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background: linear-gradient(90deg, #ff5f03 0%, #ff5f03 100%);
    color: #ffffff;
    border: solid 2px #ffffff;
}

.btn-rouge:hover {
    transition: 1000ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background: linear-gradient(179deg, #ff0320 0%, #ff0320 100%);
    color: #ffffff;
    border: solid 2px #ffffff;
}

.btn-vert:hover {
    transition: 1000ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background: linear-gradient(179deg, #0b8d03 0%, #0b8d03 100%);
    color: #ffffff;
    border: solid 2px #ffffff;
}

.btn-bleu:hover {
    transition: 1000ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background: linear-gradient(179deg, #0037ff 0%, #0037ff 100%);
    color: #ffffff;
    border: solid 2px #ffffff;
}
